<!DOCTYPE html>
<html>
<head><title>Register</title></head>
<body>
  <h2>Register</h2>
  <form method="post">
    First Name: <input name="first_name" required><br>
    Last Name: <input name="last_name" required><br>
    Birthdate: <input type="date" name="birthdate" required><br>
    Address: <input name="address" required><br>
    Contact: <input name="contact" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" value="Register">
  </form>
</body>
</html>
